.brochure-page {
    padding-top: 10rem;
    padding-bottom: 10rem;
    color: whitesmoke;
    font-family: "orbitron", sans-serif;
}

.brochure-page h1 {
    font-size: 4rem;
    text-align: center;
    padding-bottom: 1.2rem;
}


.brochure-actions {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.download-btn,
.share-btn {
    padding: 1rem 2.8rem;
    border-radius: 2.5rem;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.download-btn {
    background: linear-gradient(90deg, #00f5ff, #00c6ff);
    color: #000;
    text-decoration: none;
}

.share-btn {
    background: transparent;
    color: #00f5ff;
    border: 2px solid #00f5ff;
}

.pdf-container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.pdf-container img {
    border-radius: 1.6rem;
    border: 1px solid #00f5ff;
    /* border: none; */
    width: 43rem;
    text-align: center;
    /* min-height: 60vh; */
}

@media(max-width:768px) {

    .download-btn,
    .share-btn {
        font-size: 1.8rem;

    }

    .brochure-actions {

        gap: 6rem;

        flex-wrap: wrap;
    }

    .brochure-page h1 {
        padding-bottom: 10rem;
    }
}