.contact-page {
    color: aliceblue;
    /* paddings: 10rem; */
    height: 100dvh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* gap: 1rem; */
    flex-direction: column;
    text-align: center;
    font-size: 2rem;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 1.6rem;
    /* padding: 3rem; */
    box-shadow: 0 0 30px rgba(0, 245, 255, 0.3);

    padding: 0;
    gap: 0
}

.contact-name {
    font-family: "Orbitron", sans-serif;
    color: aqua;
}