.contact-page {
    color: aliceblue;
    /* paddings: 10rem; */
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 1rem; */
    flex-direction: column;
    text-align: center;
    font-size: 2rem;


    padding: 3rem;
    padding-bottom: 10rem;
    padding-top: 10rem;

    /* gap: 0 */
}

.contact-heading {
    font-family: "orbitron", sans-serif;
    font-size: 5rem;
    padding-bottom: 3rem;

    padding-top: 10rem;
}

.contact-glass {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1.6rem;
    padding: 3rem;
    box-shadow: 0 0 30px rgba(0, 245, 255, 0.3);
    width: 50%;
}

.contact-glass h2 {
    font-size: 2rem;
}

.contact-glass img {
    width: 35rem;
}

.contact-name {
    font-family: "Orbitron", sans-serif;
    color: aqua;
    font-size: 3rem;
}

@media (max-width:768px) {
    .contact-glass {
        width: 100%;
    }

    .contact-heading {
        padding-top: 0;
    }
}