.footer {
    background-color: black;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    flex-wrap: wrap;

    padding: 3rem;

    margin-top: 5rem;
}


.ff {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    margin-bottom: 1.5rem;

    & h3 {
        font-size: 2.3rem;
    }

    & p {
        font-size: 1.3rem;
    }
}

.fs {
    & h3 {
        font-size: 2rem;
        text-align: center;
    }

    & .fss {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        /* gap: 1rem; */
        font-size: 1.2rem;

    }
}

.fss img {
    width: 10rem;
    padding: 2rem;
}

.fss .vignora {
    width: 20rem;
}

.fss p:hover {
    color: aquamarine;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 2rem;

    padding-bottom: 2rem;

}

.footer-logo img {
    width: 5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}