/* Header wrapper */
.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

/* Logo */
.logo img {
    height: 6.5rem;
}

/* Hamburger icon */
.hamburger {
    display: none;
    cursor: pointer;
}

.icon {
    font-size: 3.6rem;
    color: white;
}

/* Navigation */
.nav {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 2.8rem;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
}

/* Register button */
.register-btn {
    padding: 8px 20px;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

/* Desktop hover */
.nav ul li a:hover,
.register-btn:hover {
    opacity: 0.8;
}

/* Mobile styles */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav {
        position: absolute;
        top: 8rem;
        left: 0;
        width: 50%;
        background: rgba(0, 0, 0, 0.95);
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 25px 0;
        display: none;
        padding: 2rem;
        padding-top: 5rem;
        padding-bottom: 5rem;

        height: 95dvh;

    }

    .nav.open {
        display: flex;
    }

    .nav ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: left;
        gap: 1.8rem;
        /* border: 2px solid pink; */
    }

    .nav ul li {
        width: 100%
    }

    .nav ul li a {
        /* border: 2px solid pink; */

        padding: 1.8rem 0;
        font-size: 2.8rem;
        font-weight: 400;
        text-align: left;
    }

    .register-btn {
        margin-top: 1rem;
        padding: 0.5rem 0.8rem;
    }

    .header {
        padding: 1rem;
    }
}