@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

@media (max-width:729px) {
  html {
    font-size: 55%;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scroll-track {
  background-color: aquamarine;
}

::-webkit-scrollbar-thumb {
  background-color: aquamarine;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: aqua;
}